.button {
    background-color: rgba(211, 211, 211, 0.7);
    height: 45px;
    border-radius: 3px;
    transition: background-color 0.3s;
    font-weight: bold;
    border: none;
    color: #222731;
}

.button:hover {
    background-color: white;
}

.button:disabled:hover {
    cursor: not-allowed;
    background-color: rgba(211, 211, 211, 0.7);
}
