@import url(assest/css/normalize.css);
@import url(assest/css/App.css);
@import url(assest/css/header/header.css);
@import url(assest/css/filter/filter.css);
@import url(assest/css/filters-box/filters-box.css);
@import url(assest/css/ships-list/ships-list.css);
@import url(assest/css/ship-card/ships-card.css);
@import url(assest/css/button/button.css);
@import url(assest/css/ship-popup/ship-popup.css);

body {
    font-family: Roboto Condensed,Arial,Helvetica Neue,Helvetica,sans-serif;
    background-color: #222731;
    height: 100vh;
    background-image: url(https://wows-media-content.korabli.su/common-media-files/armory/background/main_background.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.main {
    height: calc(100vh - 56px);
    grid-area: content;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #222731;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
